<p-confirmDialog #wi key="win" header="Eres muy bueno!" [closable]="closeable" >
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-angle-double-right" iconPos="right" label="Otra partida!" (click)="wi.accept()"></p-button>
</ng-template>

</p-confirmDialog>
<p-confirmDialog #dd key="defeat" header="Oh no! se terminó tu tiempo." [closable]="closeable" >
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-angle-double-right" iconPos="right" label="Volver a intentar!" (click)="dd.accept()"></p-button>
</ng-template>
</p-confirmDialog>

<p-confirmDialog #st key="start" header="¿Estás listo?" [closable]="closeable" >
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-angle-double-right" iconPos="right" label="Vamos!" (click)="st.accept()"></p-button>
</ng-template>
</p-confirmDialog>

<p-confirmDialog #pa key="pause" header="El juego esta en pausa" [closable]="closeable" >
  <ng-template pTemplate="footer">
    <p-button label="Seguir jugando!" (click)="pa.accept()"></p-button>
</ng-template>
</p-confirmDialog>

<p-toolbar>
  <div class="p-toolbar-group-right">
    <p-button type="button" label="Pusar" styleClass="p-button-outlined p-button-rounded p-button-warning" (onClick)="pause()"></p-button>
  </div>

  <app-timer (timeOut)="clock($event)"></app-timer>

  <div class="p-toolbar-group-right">
    <p-button type="button" label="Reiniciar" styleClass="p-button-outlined p-button-rounded p-button-danger" (onClick)="resetAll()"></p-button>
  </div>
</p-toolbar>
